{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
      "jsx-a11y/label-has-for": 0,
      "react/jsx-one-expression-per-line": 0,
      "import/prefer-default-export": 0,
      "import/no-cycle": 0,
      "camelcase": [2, {"properties": "always"}],
      "import/no-extraneous-dependencies": [2, {
          "devDependencies": true
      }],
      "semi": [2, "never"],
      "object-curly-newline": [2, {
          "ObjectExpression": { "multiline": true },
          "ObjectPattern": { "multiline": true },
          "ImportDeclaration": "never",
          "ExportDeclaration": { "multiline": true }
      }],
      "no-multiple-empty-lines": [2, {
          "max": 1,
          "maxBOF": 0,
          "maxEOF": 0
      }]
  },
  "plugins": [
      "react"
  ],
  "settings": {
      "import/resolver": {
          "babel-module": {}
      }
  },
  "env": {
      "browser": true,
      "node": true,
      "jest": true,
      "es6": true
  }
}
